* {
  box-sizing: border-box;
}

.body{
  font-size: 14px;
  width: 100%;
  height: 2297px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.menu{
  align-items: center;
  text-align: center;
  width: 100%;
  height: 138px;
  background: rgba(146,191,167,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.icone-categoria {
  width: 32px;
  height: 32px;
  background: url("../images/v13_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 459px;
  overflow: hidden;
}
.icone-favoritos {
  text-align: center;
  width: 26px;
  height: 28px;
  background: url("../images/v13_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 1004px;
  overflow: hidden;
}
.categoria{
  width: 85px;
  color: rgba(73,70,70,1);
  position: absolute;
  top: 76px;
  left: 435px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.logo {
  width: 241px;
  height: 45px;
  background: url("../images/v1_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 244px;
  overflow: hidden;
}
.texto-logo{
  width: 241px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.barra-pesquisa {
  width: 321px;
  height: 41px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 531px;
}
.texto-pesquisa {
  width: 199px;
  color: rgba(148,147,147,1);
  position: absolute;
  top: 47px;
  left: 549px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.favoritos {
  width: 74px;
  color: rgba(73,70,70,1);
  position: absolute;
  top: 71px;
  left: 983px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.carrinho {
  width: 72px;
  color: rgba(73,70,70,1);
  position: absolute;
  top: 71px;
  left: 1061px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.login {
  width: 82px;
  color: rgba(73,70,70,1);
  position: absolute;
  top: 71px;
  left: 891px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.sub-menu {
  width: 100%;
  height: 115px;
  background: rgba(50,88,67,1);
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 0px;
  overflow: hidden;
}
.lista-redes {
  width: 100%;
  height: 62px;
  background: rgba(50,88,67,1);
  opacity: 1;
  position: absolute;
  top: 1721px;
  left: 0px;
  overflow: hidden;
}
.rodape {
  width: 100%;
  height: 179px;
  background: rgba(248,249,250,1);
  opacity: 1;
  position: absolute;
  top: 2118px;
  left: 2px;
}
.classicos {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 154px;
  left: 505px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.livros {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 154px;
  left: 674px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.revistas {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 154px;
  left: 823px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.maisBuscados {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 154px;
  left: 1025px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.lancamentos {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 154px;
  left: 291px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.card-livro1 {
  width: 219px;
  height: 337px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 573px;
  left: 254px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.card-livro2 {
  width: 219px;
  height: 337px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 573px;
  left: 492px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.card-livro5 {
  width: 219px;
  height: 337px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 950px;
  left: 254px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: -1px 4px 2px rgba(0.375, 0.22187499701976776, 0.22187499701976776, 0.25);
  overflow: hidden;
}
.card-livro9 {
  width: 219px;
  height: 337px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 1314px;
  left: 256px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.card-livro10 {
  width: 219px;
  height: 337px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 1313px;
  left: 489px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.card-livro11 {
  width: 219px;
  height: 337px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 1313px;
  left: 734px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.card-livro12 {
  width: 219px;
  height: 337px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 1313px;
  left: 965px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.card-livro6 {
  width: 219px;
  height: 337px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 943px;
  left: 492px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.card-livro7 {
  width: 219px;
  height: 337px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 949px;
  left: 734px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.card-livro8 {
  width: 219px;
  height: 337px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 950px;
  left: 964px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.card-livro3{
  width: 219px;
  height: 337px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 573px;
  left: 734px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.card-livro4 {
  width: 219px;
  height: 337px;
  background: rgba(255,255,255,0.9100000262260437);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 573px;
  left: 965px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.desc-livro1 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 809px;
  left: 1013px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.desc-livro2 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 808px;
  left: 538px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.desc-livro3 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 809px;
  left: 776px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.desc-livro4{
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 809px;
  left: 305px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.desc-livro5 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1183px;
  left: 296px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.desc-livro6 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1188px;
  left: 533px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.desc-livro7 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1185px;
  left: 785px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.desc-livro8 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1185px;
  left: 1021px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.desc-livro9 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1552px;
  left: 300px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.desc-livro10 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1549px;
  left: 535px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.desc-livro11 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1552px;
  left: 777px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.desc-livro12 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1562px;
  left: 1021px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.capa-livro6 {
  width: 170px;
  height: 216px;
  background: url("../images/v13_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 961px;
  left: 510px;
  overflow: hidden;
}
.capa-livro7 {
  width: 170px;
  height: 216px;
  background: url("../images/v13_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 961px;
  left: 755px;
  overflow: hidden;
}
.capa-livro8 {
  width: 170px;
  height: 216px;
  background: url("../images/v13_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 961px;
  left: 992px;
  overflow: hidden;
}
.capa-livro1 {
  width: 170px;
  height: 216px;
  background: url("../images/v13_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 585px;
  left: 277px;
  overflow: hidden;
}
.capa-livro10 {
  width: 170px;
  height: 216px;
  background: url("../images/v13_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1326px;
  left: 516px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.capa-livro12 {
  width: 170px;
  height: 216px;
  background: url("../images/v13_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1328px;
  left: 993px;
  overflow: hidden;
}
.capa-livro11 {
  width: 170px;
  height: 216px;
  background: url("../images/v5_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1327px;
  left: 765px;
  overflow: hidden;
}
.v13_37 {
  width: 216px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1650px;
  left: 433px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.capa-livro2 {
  width: 170px;
  height: 216px;
  background: url("../images/v5_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 585px;
  left: 518px;
  overflow: hidden;
}
.capa-livro3 {
  width: 170px;
  height: 216px;
  background: url("../images/v5_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 585px;
  left: 754px;
  overflow: hidden;
}
.capa-livro4 {
  width: 170px;
  height: 216px;
  background: url("../images/v5_76.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 585px;
  left: 991px;
  overflow: hidden;
}
.div-emp-livro1 {
  width: 130px;
  height: 40px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 857px;
  left: 269px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.emp-livro1 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 863px;
  left: 292px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.emp-livro3 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 849px;
  left: 800px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.capa-livro5 {
  width: 170px;
  height: 216px;
  background: url("../images/v13_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 961px;
  left: 277px;
  overflow: hidden;
}
.capa-livro9 {
  width: 170px;
  height: 216px;
  background: url("../images/v13_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1326px;
  left: 275px;
  overflow: hidden;
}



.icone-login {
  width: 32px;
  height: 26px;
  background: url("../images/v13_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 900px;
  overflow: hidden;
}
.icone-carrinho {
  width: 32px;
  height: 32px;
  background: url("../images/v13_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 1044px;
  overflow: hidden;
}
.icone-pesquisar {
  width: 32px;
  height: 32px;
  background: url("../images/v13_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 814px;
  overflow: hidden;
}

.card-oassis {
  width: 145px;
  height: 145px;
  background: rgba(147,191,167,1);
  opacity: 1;
  position: absolute;
  top: 346px;
  left: 269px;
}
.card-visaolit {
  width: 145px;
  height: 145px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 423px;
  border-radius: 50%;
}
.txt-oassis {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 389px;
  left: 291px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.card-galaBook{
  width: 145px;
  height: 145px;
  background: rgba(147,191,167,1);
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 577px;
  border-radius: 50%;
}
.txt-galaBook {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 383px;
  left: 584px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.txt-visaolit {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 387px;
  left: 444px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.card-luminares {
  width: 145px;
  height: 145px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 345px;
  left: 731px;
  border-radius: 50%;
}
.card-lume {
  width: 145px;
  height: 145px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 1038px;
  border-radius: 50%;
}
.card-galaxia {
  width: 145px;
  height: 145px;
  background: rgba(147,191,167,1);
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 885px;
  border-radius: 50%;
}
.txt-galaxia {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 384px;
  left: 892px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.txt-lume {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 383px;
  left: 1057px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.txt-luminares {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 387px;
  left: 734px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.txt-redes {
  width: 161px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1726px;
  left: 264px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.barra-redes{
  width: 100%;
  height: 62px;
  background: rgba(50,88,67,1);
  opacity: 1;
  position: absolute;
  top: 1721px;
  left: 0px;
  overflow: hidden;
}
.desc-redes{
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1721px;
  left: 264px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.desc-editoras {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 257px;
  left: 277px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.desc-livros {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 492px;
  left: 283px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.icone-instagram {
  width: 39px;
  height: 39px;
  background: url("../images/v82_149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1731px;
  left: 609px;
  overflow: hidden;
}
.icone-x {
  width: 32px;
  height: 32px;
  background: url("../images/v82_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1735px;
  left: 556px;
  overflow: hidden;
}
.icone-face {
  width: 43px;
  height: 35px;
  background: url("../images/v82_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1734px;
  left: 492px;
  overflow: hidden;
}
.card-fav-livro1 {
  width: 44px;
  height: 40px;
  background: rgba(244,217,76,1);
  opacity: 1;
  position: absolute;
  top: 857px;
  left: 403px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.icone-fav-livro1 {
  width: 26px;
  height: 28px;
  background: url("../images/v100_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 864px;
  left: 412px;
  overflow: hidden;
}
.botao-emprestar-livro2 {
  width: 130px;
  height: 40px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 857px;
  left: 518px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.emprestar-livro2 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 863px;
  left: 541px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.card-fav-livro2 {
  width: 44px;
  height: 40px;
  background: rgba(244,217,76,1);
  opacity: 1;
  position: absolute;
  top: 857px;
  left: 652px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.botao-emprestar-livro3 {
  width: 130px;
  height: 40px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 857px;
  left: 761px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.emprestar-livro3{
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 863px;
  left: 784px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.card-fav-livro3 {
  width: 44px;
  height: 40px;
  background: rgba(244,217,76,1);
  opacity: 1;
  position: absolute;
  top: 857px;
  left: 895px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.botao-emprestar-livro4 {
  width: 130px;
  height: 40px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 857px;
  left: 985px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.emprestar-livro4 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 863px;
  left: 1008px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.card-fav-livro4 {
  width: 44px;
  height: 40px;
  background: rgba(244,217,76,1);
  opacity: 1;
  position: absolute;
  top: 857px;
  left: 1119px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.icone-fav-livro2 {
  width: 26px;
  height: 28px;
  background: url("../images/v100_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 864px;
  left: 661px;
  overflow: hidden;
}
.icone-fav-livro4{
  width: 26px;
  height: 28px;
  background: url("../images/v100_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 864px;
  left: 1128px;
  overflow: hidden;
}
.icone-fav-livro3 {
  width: 26px;
  height: 28px;
  background: url("../images/v100_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 864px;
  left: 904px;
  overflow: hidden;
}
.botao-emprestar-livro5 {
  width: 130px;
  height: 40px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 1232px;
  left: 269px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.emprestar-livro5 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1238px;
  left: 292px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.card-fav-livro5 {
  width: 44px;
  height: 40px;
  background: rgba(244,217,76,1);
  opacity: 1;
  position: absolute;
  top: 1232px;
  left: 403px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.icone-fav-livro5 {
  width: 26px;
  height: 28px;
  background: url("../images/v100_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1239px;
  left: 412px;
  overflow: hidden;
}
.botao-emprestar-livro9 {
  width: 130px;
  height: 40px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 1599px;
  left: 275px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.emprestar-livro9 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1605px;
  left: 298px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.card-fav-livro9{
  width: 44px;
  height: 40px;
  background: rgba(244,217,76,1);
  opacity: 1;
  position: absolute;
  top: 1599px;
  left: 409px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.icone-fav-livro9{
  width: 26px;
  height: 28px;
  background: url("../images/v100_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1606px;
  left: 418px;
  overflow: hidden;
}
.botao-emprestar-livro10 {
  width: 130px;
  height: 40px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 1599px;
  left: 512px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.emprestar-livro10 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1605px;
  left: 535px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.card-fav-livro10 {
  width: 44px;
  height: 40px;
  background: rgba(244,217,76,1);
  opacity: 1;
  position: absolute;
  top: 1599px;
  left: 646px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.icone-fav-livro10 {
  width: 26px;
  height: 28px;
  background: url("../images/v100_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1606px;
  left: 655px;
  overflow: hidden;
}
.botao-emprestar-livro11 {
  width: 130px;
  height: 40px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 1600px;
  left: 757px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.emprestar-livro11 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1606px;
  left: 780px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.card-fav-livro11 {
  width: 44px;
  height: 40px;
  background: rgba(244,217,76,1);
  opacity: 1;
  position: absolute;
  top: 1600px;
  left: 891px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.icone-fav-livro11 {
  width: 26px;
  height: 28px;
  background: url("../images/v100_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1607px;
  left: 900px;
  overflow: hidden;
}
.botao-emprestar-livro12 {
  width: 130px;
  height: 40px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 1600px;
  left: 995px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.emprestar-livro12 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1606px;
  left: 1018px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.card-fav-livro12 {
  width: 44px;
  height: 40px;
  background: rgba(244,217,76,1);
  opacity: 1;
  position: absolute;
  top: 1600px;
  left: 1027px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.icone-fav-livro12 {
  width: 26px;
  height: 28px;
  background: url("../images/v100_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1607px;
  left: 1018px;
  overflow: hidden;
}
.botao-emprestar-livro6 {
  width: 130px;
  height: 40px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 1232px;
  left: 514px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.emprestar-livro6 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1238px;
  left: 537px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.card-fav-livro6 {
  width: 44px;
  height: 40px;
  background: rgba(244,217,76,1);
  opacity: 1;
  position: absolute;
  top: 1232px;
  left: 648px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.icone-fav-livro6 {
  width: 26px;
  height: 28px;
  background: url("../images/v100_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1239px;
  left: 657px;
  overflow: hidden;
}
.botao-emprestar-livro7 {
  width: 130px;
  height: 40px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 1233px;
  left: 755px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.emprestar-livro7{
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1239px;
  left: 778px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.card-fav-livro7 {
  width: 44px;
  height: 40px;
  background: rgba(244,217,76,1);
  opacity: 1;
  position: absolute;
  top: 1233px;
  left: 889px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.icone-fav-livro7 {
  width: 26px;
  height: 28px;
  background: url("../images/v100_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1240px;
  left: 898px;
  overflow: hidden;
}
.botao-emprestar-livro8 {
  width: 130px;
  height: 40px;
  background: rgba(51,88,68,1);
  opacity: 1;
  position: absolute;
  top: 1232px;
  left: 983px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.emprestar-livro8 {
  width: 81px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1238px;
  left: 1006px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.card-fav-livro8 {
  width: 44px;
  height: 40px;
  background: rgba(244,217,76,1);
  opacity: 1;
  position: absolute;
  top: 1232px;
  left: 1039px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.icone-fav-livro8 {
  width: 26px;
  height: 28px;
  background: url("../images/v100_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1239px;
  left: 1030px;
  overflow: hidden;
}
.label-rodape {
  width: 640px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2196px;
  left: 396px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
